<div class="flex flex-col p-4 gap-4">
  <h3 class="text-lg text-center">Add credit card</h3>
  <form class="flex flex-col gap-4" [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">

    <div class="flex flex-col">
      <label class="text-sm text-gray-400">Card number *</label>
      <input
        class="bg-gray-200 p-2 rounded-md"
        type="number"
        formControlName="cardNumber"
      >
      @if (cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)) {
        <div class="text-red-400 text-sm mt-1">
          @if (cardNumber.errors?.['required']) { <p>Card number is required.</p> }
          @if (cardNumber.errors?.['pattern']) { <p>Card number must be 7 to 16 digits.</p> }
        </div>
      }
    </div>

    <div class="flex flex-col">
      <label class="text-sm text-gray-400">Card holder name *</label>
      <input
        class="bg-gray-200 p-2 rounded-md"
        type="text"
        formControlName="cardHolderName"
      >
      @if (cardHolderName.invalid && (cardHolderName.dirty || cardHolderName.touched)) {
        <div class="text-red-400 text-sm mt-1">
          @if (cardHolderName.errors?.['required']) { <p>Card holder name is required.</p> }
        </div>
      }
    </div>

    <div class="flex flex-col">
      <label class="text-sm text-gray-400">Security code *</label>
      <input
        class="bg-gray-200 p-2 rounded-md"
        type="number"
        formControlName="cscCode"
      >
      @if (cscCode.invalid && (cscCode.dirty || cscCode.touched)) {
        <div class="text-red-500 text-sm mt-1">
          @if (cscCode.errors?.['required']) { <p>Security code is required.</p> }
          @if (cscCode.errors?.['pattern']) { <p>Must be a 3 digit code.</p> }
        </div>
      }
    </div>

    <div class="flex flex-col">
      <label class="text-sm text-gray-400">Expiration month *</label>
      <input class="bg-gray-200 p-2 rounded-md" type="number" formControlName="expirationDateMonth">
      @if (expirationDateMonth.invalid && (expirationDateMonth.dirty || expirationDateMonth.touched)) {
        <div class="text-red-500 text-sm mt-1">
          @if (expirationDateMonth.errors?.['required']) { <p>Expiration month is required.</p> }
          @if (expirationDateMonth.errors?.['min']) { <p>Expiration month must be at least 1</p> }
          @if (expirationDateMonth.errors?.['max']) { <p>Expiration month must be no more than 12</p> }
        </div>
      }
    </div>

    <div class="flex flex-col">
      <label class="text-sm text-gray-400">Expiration year *</label>
      <input class="bg-gray-200 p-2 rounded-md" type="number" formControlName="expirationDateYear">
      @if (expirationDateYear.invalid && (expirationDateYear.dirty || expirationDateYear.touched)) {
        <div class="text-red-500 text-sm mt-1">
          @if (expirationDateYear.errors?.['required']) { <p>Expiration year is required.</p> }
          @if (expirationDateYear.errors?.['min']) { <p>Cannot create expired card 🥀</p> }
        </div>
      }
    </div>

    <div class="flex flex-col">
      <label class="text-sm text-gray-400">Issuer</label>
      <input class="bg-gray-200 p-2 rounded-md" type="text" formControlName="issuer">
    </div>

    <div class="flex justify-evenly gap-4 mt-8">
      <button type="button" class="bg-red-400 text-gray-50 rounded-md p-2 w-28" (click)="onCancel()">Cancel</button>
      <input type="submit" [disabled]="creditCardForm.invalid" class="border-2 bg-gray-50 border-blue-900 text-blue-900 rounded-md p-2 w-28 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
    </div>
  </form>
</div>
